body {
    font-family: Arial, sans-serif;
    background-image: url(./img/background.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    padding: 1em;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
  }
  
  #contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  #entradaTarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 300px;
    border:2px grey solid; 
  }
  
  #agregar-tarea-btn {
    padding: 10px;
    margin-left: 10px;
    background-color: #aeec3a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #lista-tareas {
    padding: 10px;
    width: 500px;
    margin: 0 auto;
    border: 1px solid #ccc;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    margin-top: 1em;
 
  }
  
  .tarea-item {
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #ccc;
    width: 100%;
  }
  
  .tarea-item input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .tarea-item span {
    flex-grow: 1;
  }
  
  .tarea-item button {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  